<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zlecenia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="justify-content-center">

<div th:insert="~{navbar}"></div>



<div class="jumbotron text-center" style="padding: 30px;">
    <h2>Zlecenie</h2>

    <div class="media-body pb-5 mb-0 medium lh-125 border-bottom">
        <span class="d-block">Firma: <a th:text = "${zlecenie.klient.firma}"></a></span>
        <span class="d-block">Data złożenia: <a th:text = "${zlecenie.data.toLocaleString()}"></a></span>
    </div>

    <h3>Detale Zlecenia</h3>

    <div class="btn-group" role="group" aria-label="Basic example">
        <form th:action="@{/zlecenie/edit/{id}/detal(id=${zlecenie.id})}" method="get">
            <button type="submit" class="btn btn-secondary">Dodaj Detale Zlecenia</button>
        </form>
    </div>

    <table class="table mt-4">
        <thead>
        <tr>
            <th>#</th>
            <th>Gatunek</th>
            <th>Ilość</th>
            <th>Rodzaj</th>
            <th>Opcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detal, iterStat : ${zlecenie.detaleZlecenia}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${detal.getGatunek().nazwa}"></td>
            <td th:text="${detal.ilosc}"></td>
            <td th:text="${detal.getRodzaj()}"></td>
            <td>
                <a th:href="@{/zlecenie/edit/{id}/{idDet}(id=${zlecenie.id},idDet=${detal.id})}" methods="get" class="btn btn-primary btn-sm">Edytuj</a>
                <a th:href="@{/zlecenie/edit/{id}/{idDet}/remove(id=${zlecenie.id},idDet=${detal.id})}" methods="post" class="btn btn-danger btn-sm"
                   onclick="return confirm('Are you sure you want to delete this record?');">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer class="footer text-center mt-auto">
    <p>© Informatyka Techniczna - Bazy Danych Projekt 2024</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
