<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<!--    <link href="/">-->
<!--    <link rel="icon" href="../../../../favicon.ico">-->

    <title>BD Projekt</title>

<!--    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
<!--    <link href="../../css/editor.css" rel="stylesheet">-->

<!--    &lt;!&ndash; Custom styles for this template &ndash;&gt;-->
<!--    <link href="narrow-jumbotron.css" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="text-decoration-style: solid;">

<div th:insert="~{navbar}"></div>

<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="header text-center">
        <h1 class="text-muted" style="margin-bottom: 1cm">System Zarządzania Pieczarkarnią</h1>
        <nav>
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Strona główna <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutproject">O projekcie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/authors">Autorzy</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="jumbotron text-center my-4 p-4">
        <!-- Add the image here -->

        <h1 class="display-5">Dzień dobry!</h1>
        <p class="lead">Witam w aplikacji do zarządzania Pieczarkanią</p>
<!--        <img src="../static/landingPageThemeImage.jpg" alt="Mushroom Fields" class="img-fluid mx-auto d-block mb-4" style="max-width: 40%; height: auto;">-->
        <hr class="my-4">
        <p>Dostęp do bazy danych Pieczarkarni jedynie dla zalogowanych pracowników.</p>
    </div>

    <footer class="footer text-center mt-auto">
        <p>© Informatyka Techniczna - Bazy Danych Projekt 2024</p>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
