<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
>
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<h2>Pracownicy</h2>
<ul>
  <li th:each="pracownik : ${pracownicy}">
    <span th:text="${pracownik.id}"></span>
      <span th:text="${pracownik.imie}"></span>
      <span th:text="${pracownik.nazwisko}"></span>
      <span th:text="${pracownik.email}"></span>
      <span th:text="${pracownik.password}"></span>
  </li>
</ul>

<h2>Obecnie zalogowany pracownik</h2>
<ul>
    <p><span th:text="${pracownik.imie}"></span> <span th:text="${pracownik.nazwisko}"></span></p>
</ul>

<h2>Gatunki</h2>
<ul>
    <li th:each="gatunek : ${gatunki}">
        <span th:text="${gatunek.id}"></span>
        <span th:text="${gatunek.nazwa}"></span>
        <span th:text="${gatunek.cena}"></span>
    </li>
</ul>

<h2>Zlecenia</h2>
<ul>
    <li th:each="zlecenie : ${zlecenia}">
        <span th:text="${zlecenie.id}"></span>
        <span th:text="${zlecenie.klient.firma}"></span>
        <h4>Detale zlecenia</h4>
        <span th:each="detal : ${zlecenie.detaleZlecenia}">
            <span th:text="${detal.id}"></span>
            <span th:text="${detal.gatunek.nazwa}"></span>
            <span th:text="${detal.ilosc}"></span>
        </span>
    </li>
</ul>

<h2>Partie</h2>
<ul>
    <li th:each="partia : ${partie}">
        <span th:text="${partia.getEtap()}"></span>
    </li>
</ul>

</body>
</html>